body{
    margin: 0;
    height: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

    overflow-x: hidden;
}

html {
    height: 100%;
}

header{
    background: rgb(185, 241, 80);

    overflow: hidden;

    height: 80px;
}

header a{
    float: left;
    
    display: block;

    color: rgb(0, 119, 89);

    text-align: left;

    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 100px;

    width: 110px;
    /*
    padding-left + padding-right + width = 250px (breite der navbar)
    bzw. 40px + 100px + 110px
    */

    text-decoration: none;
    font-size: 25px;

    transition: 0.5s;

    /* Link eigenschaften deaktivieren, link zu button machen */
    cursor: default;
}

header a:hover{
    color: rgb(124, 35, 0);
}

.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    background-color: rgb(54, 255, 205);
    box-shadow: 1px 5px 7px 1px rgba(24, 24, 24, 0.767);

    overflow-x: hidden;
    padding-top: 0px;

    transition: 0.5s;
}

.btn-close{
    font-size: 36px;
    padding-bottom: 19px;
    padding-top: 19px; 
}

/* #active für die seite die grad offen ist */
.side-nav #active{
    box-shadow: 0px 0px 8px 1px rgba(24, 24, 24, 0.2);
    color: rgb(95, 27, 0);

    /* Link deaktivieren */
    cursor: default;
    pointer-events: none;
}

main{
    background: rgb(155, 80, 241);

    /* Dispaly propertys */
    display: flex;
    flex-direction: column;

    transition: 0.5s;
}

footer{
    background: rgb(79, 79, 79);
    color: rgb(0, 0, 0);

    box-shadow: 0px -1px 7px 1px rgba(24, 24, 24, 0.767);

    height: 80px;

    display: flex;
}

footer div{
    margin: auto;
    text-align: center;

    font-size: 20px;
}

/*  Eigenes CSS für den Knopf der die Sidebar öffnet
    Würde sonst dem CSS der Links in der Sidebar unterliegen */
#open-slide a{
    padding-right: 30px;
    height: 30px;
    width: 30px;
}

/* Handy Bildschirm anpassen*/
@media(min-width:568px){
    .open-slide{display:none}
    .btn-close{display:none}
    .side-nav{width:250px;margin-top:80px;}
    .btn-close{font-size: 35px;}
}